<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="..\resources\CSS\slick.css">
    <link rel="stylesheet" type="text/css" href="..\resources\CSS\slick-theme.css">
    <link rel="stylesheet" type="text/css" href="..\resources\CSS\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="..\resources\CSS\profile.css">
</head>
<body>
    <header  class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <div class="container-fluid ">
            <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="#">LIBRORUM</a>
            <div class="search-profile col-md-6 justify-content-center">
                <form class="form-inline search">
                        <input type="text" class="searchTerm" placeholder="What are you want to search?">
                        <button type="submit" class="searchButton">
                          <img src="resources\pic\search-128.png" height="32px" alt="">
                       </button>
                  </form>
            </div>
            <div class="col-md-3 text-right">
                <p class="text-light d-inline">Hey, Nikita</p>
                <a class=" d-inline" href="/logout"><img src="resources\pic\logout-64.png" height="32px" alt=""></a>
            </div>
            
        </div>
    </header>
    <div class="content">
        
        <h2 class="mt-2">My Accounts</h2>
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                  <li class="breadcrumb-item active" aria-current="page">My Accounts</li>
                  <li class="breadcrumb-item active" aria-current="page">Reserve</li>
                </ol>
              </nav>


    <div class="row">
    <nav class="col-2 text-center">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Online Read</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Book</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Notifications</a>
                  </div>
    </nav>
    
    <section class="col-10">
        <div class="account-content">
            <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active online-read" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      
                        <div class="recently-read">
                               <h1 class="mb-5 pb-3 pt-3 text-center">Online Library</h1>
                               
                                <div class="row">
                                    <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\Warcraft.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                            <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                        </div>
                                      <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                        <img class="recent-book" src="resources\pic\Warcraft.jpg" height="170px" alt="">
                                    </div>
                                    <div class="col-3  text-center mb-5 pb-5">
                                            <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                        </div>
                                        <div class="col-3  text-center mb-5 pb-5">
                                            <img class="recent-book" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                                        </div>
                                        <div class="col-3  text-center mb-5 pb-5">
                                            <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                        </div>
                                        <div class="col-3  text-center mb-5 pb-5">
                                            <img class="recent-book" src="resources\pic\Warcraft.jpg" height="170px" alt="">
                                        </div>
                                        <div class="col-3  text-center mb-5 pb-5">
                                                <img class="recent-book" src="resources\pic\HarryPotter.jpg" height="170px" alt="">
                                            </div>        
                                    
                                </div>
                        </div>
                        

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                      <div class="col-4 account-reserve-book p-3">
                        <div class="card-content-reserve p-2">
                            <img class=" text-center  pt-2 pb-2" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                            <div class="text-card float-right pt-4">
                                    <h5>Name: East London</h5>
                                    <h5>Object: English</h5>
                            <p class="pt-4 mb-0 expired">Reserve time: 16.03.2018</p>
                            
                            <p class="mb-0 expired">Retern time: 16.03.2019</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 account-reserve-book p-3">
                        <div class="card-content-reserve p-2">
                            <img class=" text-center  pt-2 pb-2" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                            <div class="text-card float-right pt-4">
                                    <h5>Name: East London</h5>
                                    <h5>Object: English</h5>
                            <p class="pt-4 mb-0 soon">Reserve time: 16.03.2018</p>
                            
                            <p class="mb-0 soon">Retern time: 16.03.2019</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 account-reserve-book p-3">
                            <div class="card-content-reserve p-2">
                                <img class=" text-center  pt-2 pb-2" src="resources\pic\EastLondonOpinionated_front2.jpg" height="170px" alt="">
                                <div class="text-card float-right pt-4">
                                        <h5>Name: East London</h5>
                                        <h5>Object: English</h5>
                                <p class="pt-4 mb-0">Reserve time: 16.03.2018</p>
                                
                                <p class="mb-0">Retern time: 16.03.2019</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div th:each="nt : ${notifications}" >
                            <h3 th:text="${nt.getText()}"></h3>
                        </div>
                    </div>
                
                  </div>
                </div>
    </section>
</div>
</div>
    <footer>

    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>