<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="resources\CSS\bootstrap.min.css" rel="stylesheet">
    <link href="resources\CSS\style.css" rel="stylesheet">
    <link href="resources\CSS\footer.css" rel="stylesheet"  type="text/css">
    <script type="text/javascript" src="resources\JS\jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="resources\JS\bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
        $("#tag_close").click(function(){
            $("#tag_input").val(null);
            $(".delete").html("");
        });
    });
</script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="container">

    <div id="app">
    <search-load
    th:search-message="${search}"
    />
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</div>
</body>
<script type="text/javascript"  src=resources\static\js\main.js></script>
<script type="text/javascript"  src=resources\static\js\vendor.js></script>
<script type="text/javascript"  src=resources\static\js\manifest.js></script>
</html>

